:host{
	.contenido{
		fecha{
			position: absolute;
			top: 0;
			right: 0;
		}
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 80vh;
		section{
			&:nth-child(1){
				width: 20%;
			}
			&:nth-child(2){
				width: 80%;
				margin: 120px 40px 0 40px;
				width: 100%;
				height: 100%;
				display: block;
				noticia{
					width: 100%;
					height: 100vh;
					display: block;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
			}
		}
		@media (max-width: 320px) {
			flex-direction: column;
			height: 100vh;
			section{
				&:nth-child(1){
					order: 2;
					width: 100%;
					height: 10%;
					position: absolute;
					bottom: 0;
					left: 0;
				}
				&:nth-child(2){
					height: 100%;
					order: 1;
				}
			}
		}
		@media (max-width: 320px) {
			height: 95vh;
		}
	}
}